{% extends 'home/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb" style="margin-top:6px;">
                <li>{{ search_count }} films are related to "{{ keyword }}"</li>
            </ol>
        </div>
        <div class="col-md-12">
            {% for film in search_films %}
                <div class="media">
                    <div class="media-left">
                        <a href="{{ url_for('home.detail',id=film.id,page=1) }}">
                            <img class="media-object" src="{{ url_for('static', filename='media/' + film.logo) }}" alt="{{ film.name }}" style="width: 150px">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" style="font-size: 30px">{{ film.name }}
                            <a href="{{ url_for('home.detail',id=film.id,page=1) }}" class="label label-primary pull-right"><span class="glyphicon glyphicon-play"></span>film detail</a></h4>

                        <h4 class="media-heading" style="font-size: 30px">star: {{ film.star }}</h4>
                        <h4 class="media-heading">description: {{ film.description[0:100] }}</h4>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}