{% extends 'admin/base.html' %}

{% block content %}
    <section class="content-header">
        <h1>FilmFinder Admin</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Genre Management</a></li>
            <li class="active">Genre List</li>
        </ol>
    </section>
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Genre list</h3>
                        <div class="box-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control pull-right"
                                       placeholder="please input keyword...">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        {% with msgs = get_flashed_messages(category_filter=['ok']) %}
                            {% if msgs %}
                                <div class="alert alert-success alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <h4><i class="icon fa fa-check"></i> success!</h4>
                                    {% for msg in msgs %}
                                        <p>{{ msg }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endwith %}

                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th>id</th>
                                <th>name</th>
                                <th>create time</th>
                                <th>options</th>
                            </tr>
                            {% for genre in page_genres.items %}
                                <tr>
                                    <td>{{ genre.id }}</td>
                                    <td>{{ genre.name }}</td>
                                    <td>{{ genre.create_time }}</td>
                                    <td>&nbsp;
                                        <a class="label label-danger" href="{{ url_for('admin.genre_delete', delete_id=genre.id) }}">delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer clearfix">
                        {% import 'admin/pagination.html' as pg %}
                        {{ pg.render_pagination(page_genres, 'admin.genre_list') }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $("#g-2").addClass('active');
            $("#g-2-2").addClass('active');
        })
    </script>
{% endblock %}